# Copiar este archivo como .env y completar los valores

APP_NAME=IPTV Viewer - Backend
APP_ENV=development
DEBUG=true

DATABASE_URL=sqlite:///./iptv.db

# user-agent xtream codes
XTREAM_USER_AGENT=SmartShesPro/1.0

# configuración de red
REQUEST_TIMEOUT=5

# firma token
JWT_SECRET=changeme
JWT_EXPIRE_MINUTES=60